html,body {
	margin:0;
	padding:0;
    height:100%;
    font-family: Georgia, serif;
}

.title{
    background-color: bisque;
    font-family: Georgia, serif;
    font-size: xx-large;
}    
body{
    background-color: #34eb9e;
    text-align: center;
}
.todoItemForm{
    background-color: cadetblue;
}
.todoItemTextLabel{
    font-family: Georgia, serif;
    font-size: x-large;
}
.todoListEntries{
    background-color: #f5db67;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 10px;
}
ul{
    list-style-type: circle;
    text-align: left;
  }

button{
     color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.clearTodoListButton{
    background: rgb(202, 60, 60);
    border-radius: 1px;
  }

.clearTodoItemFromListButton{
    background: rgb(255, 1, 1);
    float: right;
  }

.submitTodoItemButton{
    background: rgb(66, 184, 221);
  }